*{margin: 8px;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
    margin-top: 10px;
    margin-inline-start: 5px;
}
.view{
    width: 350px;
    background-color :aliceblue;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    margin-top: 100px;

}
.calculator{
    padding: 0px;
    background: black;
    border-radius: 10px;
    margin-bottom: 10px;
     
}
.calculator form input {
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius:50px ;
    cursor: pointer;
    margin-bottom:10px ;
}
form .display{
    display :flex;
    justify-content: flex-end;
    margin: 20px 0px;
    width: 300px;
   
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom:5px;
    margin-left:10px ;


}
form input.Ac{
    width: 90px;
}
form input.delete{
    width: 90px;
    
}

